<template>
    <div class="location-buttons">
        <button value="Tromso">Tromso</button>
        <button value="Malagnan">Malagnan</button>
        <button value="Tromvik">Tromvik</button>
        <button value="Sommaroy">Sommaroy</button>
        <button value="Dividalen">Dividalen</button>
        <button value="Tomokdalen">Tomokdalen</button>
        <button value="Skibotn">Skibotn</button>
        <button value="Kilpisjarvi">Kilpisjarvi</button>
    </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.location-buttons {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    button {
        margin: 1rem;
        padding: 0.5rem 0.2rem;
    }
}
</style>
