<template>
    <div>
        <!-- <button @click="forecast.populate()">Fetch Location Weather</button> -->
		<!-- <p>{{ forecast.lowClouds }}</p> -->

        <ul>
            <li v-for="(percentage, index) in forecast.date" :key="index">{{ percentage }}</li>
        </ul>		

        <ul>
            <li v-for="(percentage, index) in forecast.lowClouds" :key="index">{{ percentage }}</li>
        </ul>

		<ul>
            <li v-for="(percentage, index) in forecast.mediumClouds" :key="index">{{ percentage }}</li>
        </ul>

		<ul>
            <li v-for="(percentage, index) in forecast.highClouds" :key="index">{{ percentage }}</li>
        </ul>
    </div>
</template>

<script>
import WeatherService from "../services/WeatherService";

export default {
    data() {
        return {
            forecast: new WeatherService(69.64, 18.95)
        };
    }
};
</script>

<style lang="sass" scoped>
</style>

