<template>
    <div class="main">
        <h1>Aurora Weather</h1>
        <app-location-buttons></app-location-buttons>
        <app-weather-content></app-weather-content>
    </div>
</template>

<script>
import LocationButtons from "./components/LocationButtons.vue";
import WeatherContent from "./components/WeatherContent.vue";

export default {
    components: {
        appLocationButtons: LocationButtons,
        appWeatherContent: WeatherContent
    }
};
</script>

<style lang="scss">
body {
    font-family: "Roboto", sans-serif;
    h1 {
        text-align: center;
    }
}
</style>
